/* ----- Dashboard ----- */
/* Chat Container */
.chat-container {
  background-color: #333638;
  text-align: left;
  z-index: 1;
}
/* Chat Container Header */
.chat-container-header {
  padding: 0px 10px;
  height: 60px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  color: var(--white);
  background-color: #7f0cf2;
  color: var(--white);
  animation: pulsate 0.11s ease-in-out infinite alternate;
  font-size: 20px;
  font-style: italic;
}
.chat-container-header p {
  margin: 0;
  font-size: 30px;
  font-weight: 500;
}
.chat-container-header .header-img {
  width: 30px;
  height: 30px;
  border-radius: 15px;
  overflow: hidden;
  background-color: #33363831;
}
.chat-container-header .header-img img {
  width: 100%;
  cursor: pointer;
}

/* Chat Container Options */
.chat-container .options {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #db27f2;
  height: 40px;
}
.chat-container .option {
  border: none;
  background-color: transparent;
  border-bottom: solid 4px #ec91cc;
  color: var(--white);
  font-size: 20px;
  padding: 5px 0px;
  width: 50%;
  cursor: pointer;
  transition: 0.4s;
}
.chat-container .option:hover {
  background-color: #e52bfd;
}
.chat-container .option:disabled {
  color: rgb(199, 199, 199);
  border-bottom: solid 4px rgb(199, 199, 199);
  cursor: default;
  background-color: transparent;
}

/* Matches Display */
.matches-display {
  padding-top: 5px;
  height: calc(100vh - 100px);
  word-break: break-all;
  overflow: auto;
  background-color: #242627;
  background: var(--background-image);
}
.chat-container .img-container {
  height: 30px;
  width: 30px;
  border-radius: 15px;
  overflow: hidden;
  margin: 10px;
  background-color: #33363831;
}
.chat-container .img-container img {
  width: 100%;
}
.match-card {
  display: flex;
  flex-direction: row;
  line-height: 15px;
  color: var(--white);
  width: 100%;
  cursor: pointer;
  transition: 0.1s;
}
.match-card:hover {
  background-color: #33363831;
}

/* Chat Display */
.chat-box {
  overflow: none;
  word-break: break-all;
  position: relative;
  width: 100%;
  height: calc(100vh - 154px);
}
.chat-display {
  overflow: auto;
  position: absolute;
  width: 100%;
  height: 100%;
  scrollbar-width: none;
  background-color: #242627;
  background: var(--background-image);
}
.chat-display::-webkit-scrollbar {
  display: none;
}
.chat-message-header {
  display: flex;
  flex-direction: row;
  line-height: 15px;
  align-items: center;
}
.chat-message-header .img-container {
  width: 35px;
  height: 35px;
  border-radius: 50%;
}
.chat-message-header .text-message {
  background-color: var(--white);
  padding: 10px;
  border-radius: 20px;
  max-width: 80%;
  margin: 15px 0px;
}
.owner {
  flex-direction: row-reverse;
}
.owner .text-message {
  background-color: #b78de0;
}

/* Chat Input */
.chat-input {
  padding: 5px 0px 5px 10px;
  display: flex;
  flex-direction: row;
  background-color: #7f0cf2;
}

/* React Emoji */
.react-emoji {
  display: flex;
  align-items: center;
  position: relative;
  width: calc(100% - 60px) !important;
}
.react-input-emoji--container {
  color: var(--black) !important;
  border: none !important;
  margin: 0px !important;
  border: 2px solid var(--light-grey) !important;
}
.react-input-emoji--input::-webkit-scrollbar {
  display: none;
}
.react-emoji-picker--wrapper {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 357px !important;
  width: 357px !important;
}
.emoji-mart-scroll::-webkit-scrollbar {
  display: none;
}
.emoji-mart {
  width: 357px !important;
}
.react-input-emoji--button svg {
  fill: var(--white) !important;
  transition: 0.2s;
}
.react-input-emoji--button svg:hover {
  fill: rgb(207, 206, 206) !important;
}

/* Chat Submit and Refresh */
.chat-input .input-buttons {
  display: flex;
  flex-direction: row;
}
.chat-input .input-button {
  position: relative;
  display: block;
  text-align: center;
  padding: 0 10px 0px 0px;
  overflow: hidden;
  transition: 0.2s;
  margin: 0;
  box-shadow: none;
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  flex-shrink: 0;
  font-size: 20px;
  color: var(--white);
}
.chat-input .input-button:hover {
  color: rgb(207, 206, 206);
}

.dashboard {
  background-color: #242627;
  height: 100vh;
  background: var(--background-image);
}

/* Match Page */
.match {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.card-container {
  width: 100vw;
  max-width: 300px;
  max-height: 500px;
}
.swipe {
  position: absolute;
}

/* Card */
.card {
  position: relative;
  background-color: #242627;
  width: 80vw;
  max-width: 300px;
  height: 500px;
  border-radius: 10px;
  background-size: cover;
  background-position: center;
  margin-top: 25%;
  overflow: hidden;
  cursor: grab;
}
.card .match-info {
  position: absolute;
  bottom: 0;
  margin: 5%;
  color: #fff;
  width: 90%;
  background-color: #242627;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid var(--white);
  box-shadow: var(--neon-shadow);
}
.card .match-info .info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.card .match-info p {
  margin: 0;
  font-weight: 200;
}
.card .match-info .match-name {
  font-size: 20px;
  font-weight: 500;
  font-style: italic;
  animation: pulsate 0.11s ease-in-out infinite alternate;
}
.card .match-info .province-info {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 5px;
  margin-top: 5px;
}

/* Info Text */
.info-text {
  color: #fff;
  position: absolute;
  bottom: 0;
  animation: pulsate 0.11s ease-in-out infinite alternate;
  font-style: italic;
  font-size: 30px;
  font-weight: 500;
}

.nav {
  background-color: #242627;
  color: #fff;
  display: flex;
  align-items: stretch;
}
.nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
}
.nav a {
  color: inherit;
  text-decoration: none;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 10px 0;
}
.nav li{
  transition: 0.2s;
}
.nav li:hover {
  color: red;
}
.nav li.active {
  color: #b78de0;
}

.nav li.active .icon-inactive{
  display: none;
}
.nav li.active .icon-active{
  display: block;
}

.nav li .icon-inactive{
  display: block;
}
.nav li .icon-active{
  display: none;
}
