/* ----- Dashboard ----- */
/* Chat Container */
.chat-container {
  background-color: #333638;
  text-align: left;
  z-index: 1;
}
/* Chat Container Header */
.chat-container-header {
  padding: 0px 10px;
  height: 60px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  color: var(--white);
  background-color: #7f0cf2;
  color: var(--white);
  animation: pulsate 0.11s ease-in-out infinite alternate;
  font-size: 20px;
  font-style: italic;
}
.chat-container-header p {
  margin: 0;
  font-size: 30px;
  font-weight: 500;
}
.chat-container-header .header-img {
  width: 30px;
  height: 30px;
  border-radius: 15px;
  overflow: hidden;
  background-color: #242627;
}
.chat-container-header .header-img img {
  width: 100%;
}

/* Chat Container Options */
.chat-container .options {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #db27f2;
  height: 40px;
}
.chat-container .option {
  border: none;
  background-color: transparent;
  border-bottom: solid 4px #ec91cc;
  color: var(--white);
  font-size: 20px;
  /* margin: 0px 2px; */
  padding: 5px 0px;
  width: 50%;
}
.chat-container .option:disabled {
  color: rgb(199, 199, 199);
  border-bottom: solid 4px rgb(199, 199, 199);
}

/* Matches Display */
.matches-display {
  padding-top: 5px;
  height: calc(100vh - 100px);
  word-break: break-all;
  overflow: auto;
  background-color: #242627;
  background: var(--background-image);
  
}
.chat-container .img-container {
  height: 30px;
  width: 30px;
  border-radius: 15px;
  overflow: hidden;
  margin: 10px;
  background-color: var(--bg-color);
}
.chat-container .img-container img {
  width: 100%;
}
.match-card {
  display: flex;
  flex-direction: row;
  line-height: 15px;
  color: var(--white);
  width: 100%;
  cursor: pointer;
  transition: 0.1s;
}
.match-card:hover {
  background-color: #33363831;
}

/* Chat Display */
.chat-box {
  overflow: none;
  word-break: break-all;
  position: relative;
  width: 100%;
  height: calc(100vh - 154px);
}
.chat-display {
  overflow: auto;
  position: absolute;
  width: 100%;
  height: 100%;
  -ms-overflow-style: none; /* Hide scrollbar for IE and Edge */
  scrollbar-width: none; /* Hide scrollbar for Firefox */
  background-color: #242627;
  background: var(--background-image);
}
.chat-display::-webkit-scrollbar {
  display: none; /* Hide scrollbar for Chrome, Safari and Opera */
}
.chat-message-header {
  display: flex;
  flex-direction: row;
  line-height: 15px;
  align-items: center;
}
.chat-message-header .img-container {
  width: 35px;
  height: 35px;
  border-radius: 50%;
}
.chat-message-header .text-message {
  background-color: var(--white);
  padding: 10px;
  border-radius: 20px;
  max-width: 80%;
  margin: 15px 0px;
}
.owner {
  flex-direction: row-reverse;
}
.owner .text-message {
  background-color: #b78de0;
}

/* Chat Input */
.chat-input {
  padding: 5px 10px;
  display: flex;
  flex-direction: row;
  background-color: #7f0cf2;
}
.react-emoji {
  display: flex;
  align-items: center;
  position: relative;
  width: calc(100% - 60px) !important;
}
.react-input-emoji--container {
  color: var(--black) !important;
  text-rendering: optimizeLegibility;
  background-color: var(--white);
  border: none !important;
  border-radius: 21px;
  margin: 0px !important;
  box-sizing: border-box;
  flex: 1 1 auto;
  font-size: 15px;
  font-family: "Readex Pro", sans-serif;
  font-weight: 400;
  line-height: 20px;
  min-height: 20px;
  min-width: 0;
  outline: none;
  width: inherit;
  will-change: width;
  vertical-align: baseline;
  border: 2px solid var(--light-grey) !important;
  margin-right: 0;
}
.react-emoji-picker--wrapper {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 357px !important;
  width: 357px !important;
  overflow: auto;
  z-index: 10;
}
.emoji-mart-scroll::-webkit-scrollbar {
  display: none; /* Hide scrollbar for Chrome, Safari and Opera */
}
.emoji-mart {
  width: 357px !important;
}
.chat-input .input-buttons {
  display: flex;
  flex-direction: row;
}
.input-button {
  position: relative;
  display: block;
  text-align: center;
  padding: 0 10px 0px 0px;
  overflow: hidden;
  transition: color 0.1s ease-out;
  margin: 0;
  box-shadow: none;
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  flex-shrink: 0;
  font-size: 20px;
  color: var(--white);
}

.dashboard {
  background-color: #242627;
  width: 100%;
  height: 100vh;
}

.dashboard .swipe-container {
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; */
  position: absolute;
  left: 50%;
  top: 10%;
  transform: translate(-50%, 0);
  width: fit-content;
  height: fit-content;
  /* background-color: #333638; */
}
.dashboard .swipe-container .card-container {
  width: 300px;
  height: 550px;
}
.dashboard .swipe-container .card-container .swipe {
  position: absolute;
}
.card {
  width: 300px;
  height: 550px;
  border-radius: 10px;
  background-size: cover;
  background-position: center;
  background-color: #333638;
}
.card .match-info {
  position: absolute;
  bottom: 0;
  padding: 10px;
  background: linear-gradient(
    to bottom,
    transparent,
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.6)
  );
  width: 100%;
  border-radius: 0px 0px 10px 10px;
}
.card .info {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  color: var(--white);
}
.card .info p {
  margin: 0;
  font-size: 16px;
  font-weight: 200;
}
.card .info .name {
  font-size: 25px;
  font-weight: 500;
}
.card .info .age {
  font-size: 20px;
  font-weight: 300;
}
.react-input-emoji--button svg {
  fill: var(--white) !important;
}