/* ----- Home Page ----- */
.home {
  margin-top: 30vh;
  text-align: center;
}

/* Tag Line */
.home h1 {
  color: var(--white);
  font-style: italic;
  font-weight: 400;
  font-size: 70px;
  animation: pulsate 0.11s ease-in-out infinite alternate;
  margin-bottom: 10px;
}

/* Home Button */
.primary-button {
  width: 200px;
  font-size: 20px;
  font-weight: 600;
  color: var(--white);
  cursor: pointer;
  height: 55px;
  text-align: center;
  border: none;
  background-size: 300% 100%;
  border-radius: 50px;
  transition: all 0.4s ease-in-out;
  background-image: var(--gradient);
}
.primary-button:hover {
  background-position: 100% 0;
  transition: all 0.4s ease-in-out;
}
.primary-button:focus {
  outline: none;
}

/* Auth Model */
.home .auth-modal {
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  height: fit-content;
  background-color: var(--dark-grey);
  border-radius: 20px;
  padding: 40px 40px 25px;
  border: 1px solid var(--white);
  box-shadow: var(--neon-shadow);
}

/* Auth Model Header */
.auth-modal .close-icon {
  float: right;
  color: var(--white);
  font-size: 20px;
  cursor: pointer;
}
.auth-modal h2 {
  font-size: 30px;
  font-weight: 400;
  font-style: italic;
  text-transform: uppercase;
  color: var(--white);
  animation: pulsate 0.11s ease-in-out infinite alternate;
}
.auth-modal p {
  color: var(--white);
  font-size: 18px;
  margin: 8px 0;
}

/* Auth Model Form */
.auth-modal form {
  display: flex;
  flex-direction: column;
}
.auth-modal form input {
  font-size: 17px;
}
.auth-modal form input[type="password"],
input[type="email"] {
  padding: 8px;
  margin: 8px 0;
  border-radius: 5px;
  outline: none;
  border: 2px solid var(--light-grey);
  transition: 0.4s;
}
.auth-modal form input[type="submit"] {
  color: var(--light-grey);
  background-color: var(--white);
  font-weight: 500;
  padding: 12px 30px;
  border-radius: 30px;
  border: solid 2px var(--light-grey);
  margin: 8px auto;
  cursor: pointer;
  width: fit-content;
  text-align: center;
  transition: 0.4s;
}
.auth-modal form input[type="submit"]:hover {
  color: rgb(105, 103, 103);
  background-color: rgb(226, 226, 226);
  border: solid 2px rgb(105, 103, 103);
}
.auth-modal form span {
  color: white;
  font-size: 15px;
  height: 15px;
}

/* Media Query for Mobile Devices (portrait mode) */
@media (max-width: 480px) {
  .home h1 {
    font-size: 50px;
  }
  .home .auth-modal {
    top: 20%;
    width: 340px;
  }
  .auth-modal h2 {
    font-size: 25px;
  }
  .home .auth-modal {
    padding: 20px 20px;
  }
}

/* Media Query for low resolution  Tablets, Ipads and Mobile Devices (portrait mode) */
@media (min-width: 481px) and (max-width: 767px) {
  .home h1 {
    font-size: 50px;
  }
  .home .auth-modal {
    top: 20%;
    width: 480px;
  }
  .home .auth-modal {
    padding: 20px 20px;
  }
}

/* Media Query for Tablets Ipads portrait mode */
@media (min-width: 768px) and (max-width: 1024px) {
  .home h1 {
    font-size: 50px;
  }
  .home .auth-modal {
    top: 20%;
    width: 480px;
  }
  .home .auth-modal {
    padding: 20px 20px 15px;
  }
}

/* Media Query for Laptops and Desktops */
@media (min-width: 1025px) and (max-width: 1280px) {
  .home .auth-modal {
    top: 20%;
    width: 480px;
  }
  .home .auth-modal {
    padding: 20px 20px 10px;
  }
}

/* Media Query for Large screens */
@media (min-width: 1281px) {
  .home .auth-modal {
    top: 20%;
    width: 480px;
  }
}