/* ----- Onboarding ----- */
/* Onboarding Overlay */
.onboarding-overlay {
  width: 100%;
  height: 100vh;
  background: var(--background-image);
  background-color: #242627;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* Onboarding Form */
.onboarding form {
  display: flex;
  flex-direction: column;
  padding: 20px;
  text-align: start;
  justify-content: center;
  min-width: 340px;
  max-width: 480px;
  background-color: #242627;
  border: 1px solid var(--white);
  box-shadow: var(--neon-shadow);
  border-radius: 20px;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
}

/* Form Heading */
.onboarding form h2 {
  font-size: 30px;
  font-weight: 400;
  font-style: italic;
  margin: 0px 10px;
  color: var(--white);
  animation: pulsate 0.11s ease-in-out infinite alternate;
  text-align: center;
}

/* Form Input Label */
.onboarding form label {
  margin: 10px 0;
  color: var(--white);
  font-size: 20px;
}

/* Input */
.onboarding form input {
  padding: 8px;
  margin-bottom: 8px;
  border-radius: 5px;
  outline: none;
  border: 2px solid var(--light-grey);
  width: 100%;
  font-size: 17px;
}

/* Number Input */
.onboarding form input::-webkit-outer-spin-button,
.onboarding form input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

/* Select Input */
.onboarding form select {
  appearance: none;
  padding: 8px;
  margin-bottom: 8px;
  font-size: 17px;
  border-radius: 5px;
  outline: none;
  border: 2px solid var(--light-grey);
}

/* Multiple Input Container */
.test-label label {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.onboarding form .multiple-input-container {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.onboarding form .gender {
  width: 50%;
}
.onboarding form .multiple-input-container label {
  padding: 10px;
  border: solid 2px var(--light-grey);
  border-radius: 10px;
  transition: all 0.3s;
  margin: 0;
  margin-bottom: 8px;
  background-color: var(--white);
}

/* Choice Input */
.onboarding form .choice-label {
  color: var(--light-grey);
  font-size: 15px;
}
.onboarding form input[type="radio"] {
  display: none;
}
.onboarding form input[type="radio"]:checked + label {
  border: solid 2px #7f0cf2;
  color: var(--black);
}

/* Submit */
.onboarding form input[type="submit"] {
  color: var(--light-grey);
  background-color: var(--white);
  font-weight: 500;
  padding: 12px 30px;
  border-radius: 30px;
  border: solid 2px var(--light-grey);
  margin: 8px auto;
  cursor: pointer;
  width: -moz-fit-content;
  width: fit-content;
  text-align: center;
}
.test {
  display: flex;
  flex-direction: row;
}
.gender-label {
  display: flex;
  flex-direction: row;
}
.gender-label label {
  width: 50%;
}
