/* ----- Onboarding ----- */

/* Onboarding Form */
.onboarding form {
  text-align: start;
  justify-content: center;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  height: fit-content;
  background-color: var(--dark-grey);
  border-radius: 20px;
  padding: 40px;
  border: 1px solid var(--white);
  box-shadow: var(--neon-shadow);
  display: flex;
  flex-direction: column;
}

/* Form Heading */
.onboarding form h2 {
  font-size: 30px;
  font-weight: 400;
  font-style: italic;
  margin: 8px 0px;
  color: var(--white);
  animation: pulsate 0.11s ease-in-out infinite alternate;
  text-align: center;
}

/* Form Input Label */
.onboarding form label {
  margin: 0;
  color: var(--white);
  font-size: 20px;
}

/* Input */
.onboarding form input {
  padding: 8px;
  margin: 4px 0 8px 0;
  border-radius: 5px;
  outline: none;
  border: 2px solid var(--light-grey);
  width: 100%;
  font-size: 17px;
}

/* Number Input */
.onboarding form input::-webkit-outer-spin-button,
.onboarding form input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

/* Select Input */
.onboarding form select {
  appearance: none;
  padding: 8px;
  margin: 4px 0 8px 0;
  font-size: 17px;
  border-radius: 5px;
  outline: none;
  border: 2px solid var(--light-grey);
  cursor: pointer;
  width: 100%;
}

/* Multiple Input Container */
.test-label label {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 10px;
}
.onboarding form .multiple-input-container {
  display: flex;
  gap: 10px;
}
.onboarding form .gender {
  width: 50%;
}
.onboarding form .multiple-input-container label {
  padding: 10px;
  border: solid 2px var(--light-grey);
  border-radius: 10px;
  transition: 0.4s;
  margin: 4px 0 8px 0;
  margin-top: 4px;
  background-color: var(--white);
  cursor: pointer;
}

/* Gender / Interest Input */
.onboarding form .choice-label {
  color: var(--light-grey);
  font-size: 15px;
}
.onboarding form input[type="radio"] {
  display: none;
}
.onboarding form input[type="radio"]:checked + label {
  border: solid 2px var(--purple);
  color: var(--black);
}

/* Submit */
.onboarding form input[type="submit"] {
  color: var(--light-grey);
  background-color: var(--white);
  font-weight: 500;
  padding: 12px 30px;
  border-radius: 30px;
  border: solid 2px var(--light-grey);
  margin: 4px auto;
  cursor: pointer;
  width: fit-content;
  text-align: center;
  transition: 0.4s;
}
.test {
  display: flex;
}
.gender-label {
  display: flex;
}
.gender-label label {
  width: 50%;
}

/* Media Query for Mobile Devices (portrait mode) */
@media (max-width: 480px) {
  .onboarding form {
    margin: 5px auto;
    width: 350px;
    padding: 15px;
  }
  .test {
    justify-content: space-between;
  }
  .gender-label {
    text-align: center;
  }
}

/* Media Query for low resolution  Tablets, Ipads and Mobile Devices (portrait mode) */
@media (min-width: 481px) and (max-width: 767px) {
  .onboarding form {
    margin: 5px auto;
    width: 480px;
    padding: 20px;
  }
}

/* Media Query for Tablets Ipads portrait mode */
@media (min-width: 768px) and (max-width: 1024px) {
  .onboarding form {
    margin: 5% auto;
    width: 480px;
    padding: 20px;
  }
}

/* Media Query for Laptops and Desktops */
@media (min-width: 1025px) and (max-width: 1280px) {
  .onboarding form {
    margin: 1% auto;
    width: 480px;
    padding: 20px;
  }
}

/* Media Query for Large screens */
@media (min-width: 1281px) {
  .onboarding form {
    margin: 1% auto;
    width: 480px;
    padding: 20px;
  }
}
