/* Profile Page */

/* Profile Header*/
.profile-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  width: 100%;
  color: var(--white);
  background-color: #7f0cf2;
  padding: 0px 10px;
}

/* Page Name */
.profile-header .profile-header-name {
  font-size: 35px;
  font-weight: 500;
  font-style: italic;
  animation: pulsate 0.11s ease-in-out infinite alternate;
  cursor: default;
}

/* Settings Icon */
.profile-header .profile-header-dropdown .settings {
  background-color: transparent;
  color: var(--white);
  font-size: 25px;
  border: none;
  padding-top: 7px;
  cursor: pointer;
}

/* Settings Dropdown */
.profile-header .profile-header-dropdown {
  position: relative;
  display: inline-block;
}
.profile-header .profile-header-content {
  display: none;
  position: absolute;
  left: -100px;
  background-color: var(--bg-color);
  z-index: 1;
  border-radius: 20px;
  overflow: hidden;
  border: 1px solid var(--white);
  box-shadow: var(--neon-shadow);
  animation: none;
}
.profile-header .profile-header-content p {
  color: var(--white);
  padding: 10px;
  text-decoration: none;
  display: block;
  font-size: 18px;
  cursor: pointer;
  transition: 0.4s;
  margin: 0;
}
.profile-header .profile-header-content p:hover {
  background-color: #3336388a;
}
.profile-header .profile-header-dropdown:hover .profile-header-content {
  display: block;
}

/* Profile Card */
.profile-card {
  overflow: hidden;
  width: 100%;
  height: 100%;
  max-width: 480px;
  max-height: calc(100vh - 60px);
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
}

/* User Picture */
.user-img {
  position: relative;
  background-color: #3336388a;
  width: 100%;
  height: calc(100vh - 60px);
  background-size: cover;
  background-position: center;
}

/* User Info */
.user-info {
  width: 90%;
  position: absolute;
  padding: 10px 15px;
  word-break: break-word;
  left: 5%;
  color: var(--white);
  display: flex;
  background-color: #242627;
  border: 1px solid var(--white);
  border-radius: 20px;
  box-shadow: var(--neon-shadow);
  cursor: default;
  display: flex;
  flex-direction: column;
  font-weight: 300;
}

/* User Name and Age */
.user-detail-name {
  display: flex;
  align-items: center;
  font-size: 20px;
  justify-content: space-between;
  padding: 5px 0;
}
.user-detail-name .user-name {
  font-size: 30px;
  font-weight: 500;
  animation: pulsate 0.11s ease-in-out infinite alternate;
  font-style: italic;
}

/* User Province and About */
.user-detail {
  display: flex;
  align-items: center;
  font-size: 18px;
  gap: 5px;
  line-height: 1;
  padding: 5px 0;
}

/* Media Query for Mobile Devices (portrait mode) */
@media (max-width: 480px) {
  .profile-card {
    max-width: 480px;
  }
  .user-info {
    bottom: 20px;
  }
}

/* Media Query for low resolution  Tablets, Ipads and Mobile Devices (portrait mode) */
@media (min-width: 481px) and (max-width: 767px) {
  .profile-card {
    max-width: 480px;
  }
  .user-info {
    bottom: 5%;
  }
}

/* Media Query for Tablets Ipads portrait mode */
@media (min-width: 768px) and (max-width: 1024px) {
  .profile-card {
    max-width: 480px;
  }
  .user-info {
    bottom: 5%;
  }
}

/* Media Query for Laptops and Desktops */
@media (min-width: 1025px) and (max-width: 1280px) {
  .profile-card {
    max-width: 480px;
  }
  .user-info {
    bottom: 4%;
  }
}

/* Media Query for Large screens */
@media (min-width: 1281px) {
  .profile-card {
    max-width: 480px;
  }
  .user-info {
    bottom: 4%;
  }
}
