/* ----- Profile ----- */
.profile {
  background-color: #242627;
  height: 100vh;
  min-height: 100%;
}

/* Profile Header */
.profile .profile-header {
  padding: 0px 10px;
  height: 60px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  color: var(--white);
  animation: pulsate 0.11s ease-in-out infinite alternate;
  background-color: #7f0cf2;
  font-size: 20px;
  font-style: italic;
}
.profile .profile-header p {
  margin: 0;
  font-size: 30px;
  font-weight: 500;
}

/* Profile Header Settings*/
.profile .profile-header .settings {
  background-color: transparent;
  color: var(--white);
  font-size: 20px;
  border: none;
  padding-top: 7px;
}
.profile .profile-header .dropdown {
  position: relative;
  display: inline-block;
}
.profile .profile-header .dropdown-content {
  display: none;
  position: absolute;
  left: -75px;
  background-color: var(--bg-color);
  z-index: 1;
  border-radius: 20px;
  overflow: hidden;
  border: 1px solid var(--white);
  box-shadow: var(--neon-shadow);
}
.profile .profile-header .dropdown-content p {
  color: var(--white);
  padding: 10px;
  text-decoration: none;
  display: block;
  font-size: 16px;
  cursor: pointer;
  transition: 0.1s;
}
.profile .profile-header .dropdown-content p:hover {
  background-color: #3336388a;
}
.profile .profile-header .dropdown:hover .dropdown-content {
  display: block;
}

/* Profile User Card */
.profile .user-card {
  overflow: hidden;
  width: 100%;
  max-width: 500px;
  height: 100%;
  max-height: calc(100vh - 60px);
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
}
.profile .user-card .user-info {
  position: absolute;
  bottom: 25px;
  left: 5%;
  word-break: break-all;
  padding: 10px;
  margin: 0 auto;
  color: var(--white);
  background-color: #242627;
  border: 1px solid var(--white);
  border-radius: 20px;
  box-shadow: var(--neon-shadow);
  width: 90%;
  max-width: 500px;
}
.profile .user-img {
  background-color: #242627;
}
.profile .info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: var(--white);
  padding-right: 5px;
  padding-bottom: 5px;
}
.profile .info p {
  margin: 0;
  font-size: 16px;
  font-weight: 200;
}
.profile .info .name {
  font-size: 25px;
  font-weight: 500;
  animation: pulsate 0.11s ease-in-out infinite alternate;
  font-style: italic;
}
.profile .info .age {
  font-size: 20px;
  font-weight: 300;
}
