/* Profile Dropdown */
.profile-dropdown {
  position: relative;
  display: inline-block;
}

/* Profile Icon */
.profile-dropdown .icon {
  background-color: transparent;
  color: var(--white);
  font-size: 25px;
  border: none;
  padding-top: 7px;
  cursor: pointer;
}

/* Dropdown Content */
.profile-dropdown-content {
  display: none;
  position: absolute;
  left: -90px;
  width: 120px;
  background-color: var(--dark-grey);
  z-index: 1;
  border-radius: 20px;
  overflow: hidden;
  border: 1px solid var(--white);
  box-shadow: var(--neon-shadow);
  animation: none;
}
.profile-dropdown-content p {
  color: var(--white);
  padding: 10px;
  text-decoration: none;
  display: block;
  font-size: 18px;
  cursor: pointer;
  transition: 0.4s;
  margin: 0;
}
.profile-dropdown-content p:hover {
  background-color: #3336388a;
}
.profile-dropdown:hover .profile-dropdown-content {
  display: block;
}

/* Profile Card */
.profile-card {
  overflow: hidden;
  width: 100%;
  height: 100%;
  max-width: 480px;
  max-height: calc(100vh - 100px);
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
}

/* User Picture */
.user-img {
  position: relative;
  background-color: #3336388a;
  width: 100%;
  height: calc(100vh - 100px);
  background-size: cover;
  background-position: center;
}

/* User Info */
.user-info {
  width: 90%;
  position: absolute;
  padding: 10px 15px;
  word-break: break-word;
  left: 5%;
  color: var(--white);
  display: flex;
  background-color: var(--dark-grey);
  border: 1px solid var(--white);
  border-radius: 20px;
  box-shadow: var(--neon-shadow);
  cursor: default;
  display: flex;
  flex-direction: column;
  font-weight: 300;
}

/* User Name and Age */
.user-detail-name {
  display: flex;
  align-items: center;
  font-size: 20px;
  justify-content: space-between;
  padding: 5px 0;
}
.user-detail-name .user-name {
  font-size: 30px;
  font-weight: 500;
  animation: pulsate 0.11s ease-in-out infinite alternate;
  font-style: italic;
}

/* User Province and About */
.user-detail {
  display: flex;
  align-items: center;
  font-size: 18px;
  gap: 5px;
  line-height: 1;
  padding: 5px 0;
}
