/*  Main Font */
@import url("https://fonts.googleapis.com/css2?family=Readex+Pro:wght@200;300;400;500;600;700&display=swap");

* {
  box-sizing: border-box;
  font-family: "Readex Pro", sans-serif;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}
html {
  height: -webkit-fill-available;
}
body {
  background-color: #37393b;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  height: 100vh;
  height: -webkit-fill-available;
}

.app {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  background-color: #37393b;
}

.primary-button {
  color: #fff;
  font-size: 20px;
  background: linear-gradient(
    360deg,
    #f25ebf,
    #db27f2,
    #7f0cf2,
    #044bd9,
    #0785f2
  );
  padding: 12px 20px;
  border-radius: 30px;
  border: none;
  cursor: pointer;
}

.secondary-button {
  color: rgb(121, 119, 119);
  background-color: #fff;
  font-weight: 500;
  font-size: 17px;
  padding: 12px 30px;
  border-radius: 30px;
  border: solid 2px rgb(121, 119, 119);
  margin: 6px auto;
  cursor: pointer;
  width: fit-content;
  text-align: center;
}
.secondary-button:hover {
  color: rgb(90, 89, 89);
  background-color: rgb(240, 240, 240);
  border: solid 2px rgb(90, 89, 89);
}

/* Header Nav */
.header-nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.header-nav .logo-container {
  font-size: 60px;
  font-weight: 400;
  margin-left: 10px;
  font-style: italic;
  gap: 5px;
  color: #fff;
  text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff, 0 0 42px #7f0cf2,
    0 0 82px #7f0cf2, 0 0 92px #7f0cf2, 0 0 102px #7f0cf2, 0 0 151px #7f0cf2;
  animation: pulsate 0.11s ease-in-out infinite alternate;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.header-nav .logo-container {
  font-size: 50px;
  font-weight: 400;
  margin-left: 10px;
  font-style: italic;
  gap: 5px;
  color: #fff;
  text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff, 0 0 42px #7f0cf2,
    0 0 82px #7f0cf2, 0 0 92px #7f0cf2, 0 0 102px #7f0cf2, 0 0 151px #7f0cf2;
  animation: pulsate 0.11s ease-in-out infinite alternate;
}
.header-nav .nav-button {
  color: #fff;
  /* background: linear-gradient(
    360deg,
    #f25ebf,
    #db27f2,
    #7f0cf2,
    #044bd9,
    #0785f2
  ); */
  background-color: #db27f2;
  font-size: 20px;
  padding: 12px 30px;
  border-radius: 30px;
  border: none;
  margin: 10px;
  cursor: pointer;
}
.header-nav .nav-button:disabled {
  color: rgb(199, 199, 199);
  cursor: auto;
}

/* ----- Home page ----- */
.overlay {
  width: 100vw;
  height: 100vh;
  background: repeating-linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.05) 0px,
      rgba(255, 255, 255, 0.05) 1px,
      rgba(255, 255, 255, 0) 1px,
      rgba(255, 255, 255, 0) 2px
    ),
    url("../images/home-background.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.home {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.home h1 {
  color: #fff;
  font-style: italic;
  font-weight: 400;
  font-size: 70px;
  animation: pulsate 0.11s ease-in-out infinite alternate;
}
@keyframes pulsate {
  100% {
    text-shadow: 0 0 4px #fff, 0 0 11px #fff, 0 0 19px #fff, 0 0 40px #7f0cf2,
      0 0 80px #7f0cf2, 0 0 90px #7f0cf2, 0 0 100px #7f0cf2, 0 0 150px #7f0cf2;
  }

  0% {
    text-shadow: 0 0 4px #fff, 0 0 10px #fff, 0 0 18px #fff, 0 0 38px #7f0cf2,
      0 0 73px #7f0cf2, 0 0 80px #7f0cf2, 0 0 94px #7f0cf2, 0 0 140px #7f0cf2;
  }
}

/* Auth Model */
.auth-modal {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  max-width: 360px;
  height: fit-content;
  background-color: rgb(46, 46, 46);
  border-radius: 20px;
  padding: 40px;
  border: 2px solid #fff;
  box-shadow: 0 0 0.2rem #fff, 0 0 0.2rem #fff, 0 0 2rem #7f0cf2,
    0 0 0.8rem #7f0cf2, 0 0 2.8rem #7f0cf2, inset 0 0 1.3rem #7f0cf2;
}
.auth-modal .close-icon {
  float: right;
  color: #fff;
  font-size: 20px;
}
.auth-modal h2 {
  font-weight: 400;
  font-style: italic;
  text-transform: uppercase;
  color: #fff;
  text-shadow: 0 0 4px #fff, 0 0 11px #fff, 0 0 19px #fff, 0 0 40px #7f0cf2,
    0 0 80px #7f0cf2, 0 0 90px #7f0cf2, 0 0 100px #7f0cf2, 0 0 150px #7f0cf2;
}
.auth-modal p {
  color: #fff;
}
.auth-modal form {
  display: flex;
  flex-direction: column;
}
.auth-modal input[type="password"],
.auth-modal input[type="email"] {
  padding: 8px 8px 8px 12px;
  margin: 8px;
  font-size: 17px;
  border-radius: 5px;
  outline: none;
  border: 2px solid rgb(121, 119, 119);
}

/* Page Header */
.page-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: white;
  align-items: center;
  font-size: 25px;
  font-weight: 500;
  padding: 0.5rem 1rem;
  border-bottom: 1px solid white;
}
.page-header p {
  margin: 0;
}
.page-header .name-age {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

/* Navbar */
.nav {
  background-image: linear-gradient(
    60deg,
    rgba(112, 34, 103, 1) 0%,
    rgba(230, 34, 93, 1) 100%
  );
  color: #457fc3;
  font-size: 25px;
  margin-top: auto;
}
.nav ul {
  padding: 5px;
  margin: 0;
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  gap: 1rem;
}
.nav a {
  color: inherit;
  text-decoration: none;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0.25rem;
}
.nav li.active {
  color: black;
}

/* ----- Onboarding Page ----- */
.onboarding {
  display: flex;
  justify-content: center;
}
.onboarding h2 {
  font-size: 35px;
  font-weight: 400;
  font-style: italic;
  margin-top: 10px;
  color: #fff;
  animation: pulsate 0.11s ease-in-out infinite alternate;
  text-align: center;
}
.onboarding form {
  display: flex;
  flex-direction: column;
  padding: 10px;
  text-align: start;
  justify-content: center;
  min-width: 320px;
  max-width: 480px;
}
.onboarding form input {
  padding: 8px 8px 8px 12px;
  margin: 8px 0px;
  font-size: 17px;
  border-radius: 5px;
  outline: none;
  border: 2px solid rgb(121, 119, 119);
}
.onboarding form input::-webkit-outer-spin-button,
.onboarding form input::-webkit-inner-spin-button {
  appearance: none;
  -webkit-appearance: none;
  margin: 0;
}
.onboarding form label {
  margin: 10px 0;
  color: white;
  font-size: 20px;
}
.onboarding form .choice-label {
  color: rgb(144, 144, 144);
  font-size: 16px;
}
.onboarding form .multiple-input-container {
  display: flex;
  flex-direction: row;
}
.onboarding form .multiple-input-container input {
  margin-right: 10px;
}
.onboarding form .multiple-input-container label {
  padding: 10px;
  border: solid 2px rgb(144, 144, 144);
  border-radius: 10px;
  transition: all 0.3s;
  margin-right: 10px;
  background-color: #fff;
}
.onboarding form input[type="radio"] {
  display: none;
}
.onboarding form input[type="radio"]:checked + label {
  border: solid 2px #7f0cf2;
  color: #000;
}
.onboarding form input[type="submit"] {
  color: rgb(121, 119, 119);
  background-color: #fff;
  font-weight: 500;
  font-size: 15px;
  text-transform: uppercase;
  padding: 12px 30px;
  border-radius: 30px;
  border: solid 2px rgb(121, 119, 119);
  margin: 6px auto;
  cursor: pointer;
  width: fit-content;
  text-align: center;
}
.onboarding form input[type="number"] {
  width: 33%;
}
.onboarding form input[type="checkbox"] {
  align-self: start;
}
.onboarding form .photo-container img {
  width: 100%;
}

/* ----- Chat Container ----- */
.chat-container {
  background-color: transparent;
  text-align: left;
  z-index: 1;
}
.chat-container .chat-container-header {
  background: linear-gradient(
    45deg,
    #f25ebf,
    #db27f2,
    #7f0cf2,
    #044bd9,
    #0785f2
  );
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.options {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.option {
  width: 50%;
}
.chat-container .option {
  border: none;
  background-color: transparent;
  border-bottom: solid 4px #f25ebf;
  color: #fff;
  font-size: 20px;
  margin: 2px;
  padding: 10px;
}
.chat-container .option:disabled {
  border-bottom: solid 4px rgb(187, 187, 187);
}
.chat-container .profile,
.chat-container .log-out-icon {
  padding: 0 20px;
  display: flex;
  align-items: center;
  color: #fff;
}
.img-container {
  height: 30px;
  width: 30px;
  border-radius: 15px;
  overflow: hidden;
  margin: 10px;
}
.img-container img {
  width: 100%;
}

/* ----- Chat Display ----- */
.matches-display {
  padding: 10px;
  height: calc(100vh - 115px);
  word-break: break-all;
  overflow: auto;
}
.chat-box {
  overflow: none;
  word-break: break-all;
  position: relative;
  width: 100%;
  height: calc(100vh - 179px);
}
.chat-display {
  overflow: auto;
  position: absolute;
  bottom: 0;
  width: 100%;
  max-height: 100%;
  -ms-overflow-style: none;  /* Hide scrollbar for IE and Edge */
  scrollbar-width: none;  /* Hide scrollbar for Firefox */
}
/* Hide scrollbar for Chrome, Safari and Opera */
.chat-display::-webkit-scrollbar {
  display: none;
}

.match-card {
  display: flex;
  flex-direction: row;
  line-height: 15px;
  color: #fff;
}

.chat-message-header {
  display: flex;
  flex-direction: row;
  line-height: 15px;
  align-items: center;
}
.chat-message-header .img-container{
width: 35px;
height: 35px;
border-radius: 50%;
}
.chat-message-header .text-message {
background-color: #fff;
padding: 10px;
border-radius: 20px;
max-width: 80%;
margin: 15px 0px;
}


/* ----- Chat Input ----- */
.chat-input {
  padding: 10px;
  display: flex;
  flex-direction: row;
}
.react-emoji {
  display: flex;
    align-items: center;
    position: relative;
    width: calc(100% - 60px) !important;
}
.react-input-emoji--container {
  color: #000 !important;
  text-rendering: optimizeLegibility;
  background-color: #fff;
  border: none !important;
  border-radius: 21px;
  margin: 0px !important;
  box-sizing: border-box;
  flex: 1 1 auto;
  font-size: 15px;
  font-family: "Readex Pro", sans-serif;
  font-weight: 400;
  line-height: 20px;
  min-height: 20px;
  min-width: 0;
  outline: none;
  width: inherit;
  will-change: width;
  vertical-align: baseline;
  border: 2px solid rgb(121, 119, 119) !important;
  margin-right: 0;
  /* width: 90% !important; */
}
.react-emoji-picker--wrapper {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 357px !important; 
  width: 357px !important;
  overflow:auto;
  z-index: 10;
}
/* Hide scrollbar for Chrome, Safari and Opera */
.emoji-mart-scroll::-webkit-scrollbar {
  display: none;
}
.emoji-mart {
  width: 357px !important;
}
.chat-input .input-buttons {
  display: flex;
  flex-direction: row;
}

.input-button {
  position: relative;
  display: block;
  text-align: center;
  padding: 0 10px 0px 0px;
  overflow: hidden;
  transition: color 0.1s ease-out;
  margin: 0;
  box-shadow: none;
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  flex-shrink: 0;
  font-size: 20px;
  color: #858585;
}

/* Profile Page */
.dashboard-header {
  padding: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  color: #fff;
  font-size: 20px;
}
.dashboard-header p {
  margin: 0;
  font-size: 30px;
  font-weight: 500;
}

.user-card {
  border: 2px solid #fff;
  box-shadow: 0 0 0.2rem #fff, 0 0 0.2rem #fff, 0 0 2rem #7f0cf2,
    0 0 0.8rem #7f0cf2, 0 0 2.8rem #7f0cf2, inset 0 0 1.3rem #7f0cf2;
  border-radius: 30px;
  overflow: hidden;
  width: 100%;
  max-width: 480px;
  height: 100%;
  max-height: 730px;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
}
.user-card .user-info {
  position: absolute;
  bottom: 0px;
  word-break: break-all;
  padding: 0 25px;
  color: #fff;
  background: linear-gradient(
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.3),
    rgba(0, 0, 0, 0.1)
  );
  width: 100%;
}
.user-card p {
  margin: 0;
}
.user-card .user-name-age {
  display: flex;
  flex-direction: row;
  gap: 10px;
  font-size: 30px;
  margin-bottom: 5px;
  font-weight: 500;
}
.user-card .user-province {
  font-size: 20px;
  margin-bottom: 5px;
  font-weight: 400;
}
.user-card .user-about {
  font-size: 20px;
  margin-bottom: 10px;
}
.dashboard-nav {
  background-color: #db27f2;
  color: #fff;
  font-size: 20px;
  margin: 0;
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.reverse {
  display: flex;
  flex-direction: row-reverse;
}