/*  Main Font */
@import url("https://fonts.googleapis.com/css2?family=Readex+Pro:wght@200;300;400;500;600;700&display=swap");
/* Stylized Font */
@import url("https://fonts.googleapis.com/css?family=Yellowtail:400");

* {
  box-sizing: border-box;
  font-family: "Readex Pro", sans-serif;
}

body {
  margin: 0;
  background-color: black;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.app {
  /* min-width: 320px;
  max-width: 480px; */
  /* height: 100vh; */
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  background-color: #37393b;
}

.primary-button {
  color: #fff;
  text-transform: uppercase;
  font-size: 15px;
  background: linear-gradient(
    45deg,
    #f25ebf,
    #db27f2,
    #7f0cf2,
    #044bd9,
    #0785f2
  );
  padding: 12px 20px;
  border-radius: 30px;
  border: none;
  cursor: pointer;
  margin-top: 50px;
}

.secondary-button {
  color: rgb(121, 119, 119);
  background-color: #fff;
  font-weight: 500;
  font-size: 15px;
  text-transform: uppercase;
  padding: 12px 30px;
  border-radius: 30px;
  border: solid 2px rgb(121, 119, 119);
  margin: 6px;
  cursor: pointer;
}
.secondary-button:hover {
  color: rgb(90, 89, 89);
  background-color: rgb(240, 240, 240);
  border: solid 2px rgb(90, 89, 89);
}

/* Header Nav */
.header-nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.header-nav .logo-container {
  width: 170px;
  margin: 15px;
}
.header-nav .logo-container .logo {
  width: 100%;
}
.header-nav .logo-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.header-nav .nav-button {
  color: #fe3072;
  background-color: #fff;
  font-size: 20px;
  padding: 10px 20px;
  border-radius: 10px;
  border: none;
  margin: 10px;
  cursor: pointer;
}
.header-nav .nav-button:disabled {
  background-color: rgb(230, 228, 228);
  color: #c02a59;
  cursor: auto;
}

/* ----- Home page ----- */
.overlay {
  height: 100vh;
  background: repeating-linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.05) 0px,
      rgba(255, 255, 255, 0.05) 1px,
      rgba(255, 255, 255, 0) 1px,
      rgba(255, 255, 255, 0) 2px
    ),
    url("../images/home-background.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.home {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 100%;
}
.neonText {
  font-family: "Yellowtail", sans-serif;
  color: #fff;
  text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff, 0 0 42px #7f0cf2,
    0 0 82px #7f0cf2, 0 0 92px #7f0cf2, 0 0 102px #7f0cf2, 0 0 151px #7f0cf2;
  margin: 0 auto;
}
h1 {
  font-weight: 400;
  font-size: 70px;
  animation: pulsate 0.11s ease-in-out infinite alternate;
}
@keyframes pulsate {
  100% {
    text-shadow: 0 0 4px #fff, 0 0 11px #fff, 0 0 19px #fff, 0 0 40px #7f0cf2,
      0 0 80px #7f0cf2, 0 0 90px #7f0cf2, 0 0 100px #7f0cf2, 0 0 150px #7f0cf2;
  }

  0% {
    text-shadow: 0 0 4px #fff, 0 0 10px #fff, 0 0 18px #fff, 0 0 38px #7f0cf2,
      0 0 73px #7f0cf2, 0 0 80px #7f0cf2, 0 0 94px #7f0cf2, 0 0 140px #7f0cf2;
  }
}

/* Auth Model */
.auth-modal {
  position: absolute;
  top: -90%;
  left: 0;
  right: 0;
  margin: 0 auto;
  max-width: 350px;
  height: auto;
  background-color: rgb(46, 46, 46);
  border-radius: 10px;
  padding: 40px;
  border: 2px solid #fff;
  box-shadow: 0 0 0.2rem #fff, 0 0 0.2rem #fff, 0 0 2rem #7f0cf2,
    0 0 0.8rem #7f0cf2, 0 0 2.8rem #7f0cf2, inset 0 0 1.3rem #7f0cf2;
}
.auth-modal .close-icon {
  float: right;
  color: #fff;
}
.auth-modal h2 {
  font-weight: 400;
  font-style: italic;
  text-transform: uppercase;
  color: #fff;
  text-shadow: 0 0 4px #fff, 0 0 11px #fff, 0 0 19px #fff, 0 0 40px #7f0cf2,
    0 0 80px #7f0cf2, 0 0 90px #7f0cf2, 0 0 100px #7f0cf2, 0 0 150px #7f0cf2;
}
.auth-modal p {
  color: #fff;
}
.auth-modal form {
  display: flex;
  flex-direction: column;
}
.auth-modal input[type="password"],
.auth-modal input[type="email"] {
  padding: 8px;
  margin: 8px;
  font-size: 17px;
  border-radius: 5px;
  outline: none;
  border: 2px solid rgb(121, 119, 119);
}

/* Page Header */
.page-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: white;
  align-items: center;
  font-size: 25px;
  font-weight: 500;
  padding: 0.5rem 1rem;
  border-bottom: 1px solid white;
}
.page-header p {
  margin: 0;
}
.page-header .name-age {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

/* Navbar */
.nav {
  background-image: linear-gradient(
    60deg,
    rgba(112, 34, 103, 1) 0%,
    rgba(230, 34, 93, 1) 100%
  );
  color: #457fc3;
  font-size: 25px;
  margin-top: auto;
}
.nav ul {
  padding: 5px;
  margin: 0;
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  gap: 1rem;
}
.nav a {
  color: inherit;
  text-decoration: none;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0.25rem;
}
.nav li.active {
  color: black;
}

/* Profile Page */
.profile-img {
  min-width: 320px;
  max-width: 480px;
}
.profile-img img {
  max-width: 100%;
  max-height: 100%;
  display: block;
}
.profile-info p {
  margin: 0;
  color: white;
  font-weight: 500;
}
.profile-info .name-age {
  display: flex;
  flex-direction: row;
  font-size: 25px;
  gap: 10px;
  padding-bottom: 15px;
  width: fit-content;
}
.profile-info .profile-description {
  width: 320px;
}

/* ----- Onboarding Page ----- */
.onboarding {
  border-top: solid 1px rgb(154, 154, 154);
}
.onboarding form {
  display: flex;
  flex-direction: column;
  padding: 0 10px;
  text-align: start;
  justify-content: center;
  min-width: 320px;
  max-width: 480px;
}
.onboarding form input {
  padding: 15px 30px;
  margin: 10px 0px;
  font-size: 15px;
  border: none;
  border: solid 2px rgb(144, 144, 144);
  border-radius: 10px;
}
.onboarding form input::-webkit-outer-spin-button,
.onboarding form input::-webkit-inner-spin-button {
  appearance: none;
  -webkit-appearance: none;
  margin: 0;
}
.onboarding form label {
  margin: 10px 0;
  color: white;
  font-size: 20px;
}
.onboarding form .choice-label  {
  color: black;
  font-size: 16px;
}
.onboarding form .multiple-input-container {
  display: flex;
  flex-direction: row;
}
.onboarding form .multiple-input-container input {
  margin-right: 10px;
}
.onboarding form .multiple-input-container label {
  padding: 10px;
  border: solid 2px rgb(144, 144, 144);
  border-radius: 10px;
  transition: all 0.3s;
  margin-right: 10px;
  background-color: #fff;
}
.onboarding form input[type="radio"] {
  display: none;
}
.onboarding form input[type="radio"]:checked + label {
  border: solid 2px rgb(221, 39, 22);
}
.onboarding form input[type="submit"]:hover {
  background-color: rgb(235, 235, 235);
}
.onboarding form input[type="submit"]:active {
  background-color: rgb(226, 115, 155);
}
.onboarding form input[type="number"] {
  width: 33%;
}
.onboarding form input[type="checkbox"] {
  align-self: start;
}
.onboarding form .photo-container img {
  width: 100%;
}

.neonText {
  font-family: "Yellowtail", sans-serif;
  color: #fff;
  text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff, 0 0 42px #7f0cf2,
    0 0 82px #7f0cf2, 0 0 92px #7f0cf2;
  margin: 0 auto;
  margin-top: 10px;
}
h2 {
  font-weight: 400;
  font-size: 35px;
  margin-top: 10px;
  text-align: center;
}

/* ----- Chat Container ----- */
.chat-container {
  background-color: #fff;
  /* box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px; */
  /* width: 30%; */
  text-align: left;
  z-index: 1;
}
.chat-container .chat-container-header {
  background: linear-gradient(
    45deg,
    #f25ebf,
    #db27f2,
    #7f0cf2,
    #044bd9,
    #0785f2
  );
  /* height: 100px; */
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.chat-container .option {
  border: none;
  background-color: #fff;
  border-bottom: solid 4px rgb(243, 33, 33);
  font-size: 20px;
  margin: 2px;
  padding: 10px;
}
.chat-container .option:disabled {
  border-bottom: solid 4px rgb(187, 187, 187);
}
.chat-container .profile,
.chat-container .log-out-icon {
  padding: 0 20px;
  display: flex;
  align-items: center;
  color: #fff;
}
.img-container {
  height: 30px;
  width: 30px;
  border-radius: 15px;
  overflow: hidden;
  margin: 10px;
}
.img-container img {
  width: 100%;
}

/* ----- Chat Display ----- */
.chat-display,
.matches-display {
  padding: 10px;
  height: calc(100vh - 164px);
  word-break: break-all;
  overflow-y: auto;
}

.match-card {
  display: flex;
  flex-direction: row;
  line-height: 15px;
}

.chat-message-header {
  display: flex;
  flex-direction: row;
  line-height: 15px;
}

/* ----- Chat Input ----- */
.chat-input {
  padding: 10px;
  display: flex;
  flex-direction: row;
}
.react-input-emoji--container {
  color: #000 !important;
  text-rendering: optimizeLegibility;
  background-color: #fff;
  border: none !important;
  border-radius: 21px;
  margin: 0px !important;
  box-sizing: border-box;
  flex: 1 1 auto;
  font-size: 15px;
  font-family:"Readex Pro", sans-serif;
  font-weight: 400;
  line-height: 20px;
  min-height: 20px;
  min-width: 0;
  outline: none;
  width: inherit;
  will-change: width;
  vertical-align: baseline;
  border: 2px solid rgb(121, 119, 119) !important;
  margin-right: 0;
}


.chat-input .input-buttons {
display: flex;
flex-direction: row;
}

.input-button {
  position: relative;
    display: block;
    text-align: center;
    padding: 0 10px 0px 0px;
    overflow: hidden;
    transition: color 0.1s ease-out;
    margin: 0;
    box-shadow: none;
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    flex-shrink: 0;
    font-size: 18px;
    
}
