/*  Main Font */
@import url("https://fonts.googleapis.com/css2?family=Readex+Pro:wght@200;300;400;500;600;700&display=swap");

* {
  font-family: "Readex Pro", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  margin: 0;
  padding: 0;
}

:root {
  /* Colors */
  --dark-grey: #242627;
  --light-grey: rgb(121, 119, 119);
  --disabled: rgb(199, 199, 199);
  --black: #000;
  --white: #fff;
  --purple: #7f0cf2;
  --smoke: #33363831;

  /* Gradient */
  --gradient: linear-gradient(
    to right,
    #f21ba7,
    #d932bd,
    #7f50bf,
    #4b83f2,
    #2994f2
  );

  /* Shadow */
  --neon-shadow: 0 0 0.2rem #fff, 0 0 0.2rem #fff, 0 0 2rem #7f0cf2,
    0 0 0.8rem #7f0cf2, 0 0 2.8rem #7f0cf2, inset 0 0 1.3rem #7f0cf2;

  /* Overlay */
  --overlay: repeating-linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.05) 0px,
      rgba(255, 255, 255, 0.05) 1px,
      rgba(255, 255, 255, 0) 1px,
      rgba(255, 255, 255, 0) 2px
    ),
    url("../images/background.jpg");
}

/* Animation */
@keyframes pulsate {
  100% {
    text-shadow: 0 0 4px #fff, 0 0 11px #fff, 0 0 19px #fff, 0 0 40px #7f0cf2,
      0 0 80px #7f0cf2, 0 0 90px #7f0cf2, 0 0 100px #7f0cf2, 0 0 150px #7f0cf2;
  }
  0% {
    text-shadow: 0 0 4px #fff, 0 0 10px #fff, 0 0 18px #fff, 0 0 38px #7f0cf2,
      0 0 73px #7f0cf2, 0 0 80px #7f0cf2, 0 0 94px #7f0cf2, 0 0 140px #7f0cf2;
  }
}

/* Disable Scrollbar */
::-webkit-scrollbar {
  display: none;
}

/* Background Overlay */
.overlay {
  width: 100%;
  height: 100%;
  position: fixed;
  background: var(--overlay);
  background-color: var(--dark-grey);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  overflow: auto;
}

/* Header */
.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

/* Header Logo */
.header .header-logo {
  font-size: 50px;
  font-weight: 400;
  margin-left: 10px;
  font-style: italic;
  gap: 5px;
  color: var(--white);
  animation: pulsate 0.11s ease-in-out infinite alternate;
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: default;
}

/* Header Button */
.header .header-button {
  margin: 10px;
  width: 110px;
  font-size: 20px;
  font-weight: 600;
  color: var(--white);
  cursor: pointer;
  height: 45px;
  text-align: center;
  border: none;
  background-size: 300% 100%;
  border-radius: 50px;
  transition: all 0.4s ease-in-out;
  background-image: var(--gradient);
}
.header .header-button:hover {
  background-position: 100% 0;
  transition: all 0.4s ease-in-out;
}
.header .header-button:focus {
  outline: none;
}
.header .header-button:disabled {
  color: var(--disabled);
  background: #d932bd;
  transition: none;
  cursor: auto;
}

/* Dashboard Header */
.dashboard-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  width: 100%;
  color: var(--white);
  background-color: var(--purple);
  padding: 0px 10px;
}
.dashboard-header .dashboard-header-name {
  font-size: 35px;
  font-weight: 500;
  font-style: italic;
  animation: pulsate 0.11s ease-in-out infinite alternate;
  cursor: default;
}
.dashboard-header .dashboard-header-img {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  overflow: hidden;
  background-color: var(--smoke);
}
.dashboard-header .dashboard-header-img img {
  width: 100%;
  cursor: pointer;
}

/* Dashboard Nav */
.dashboard-nav {
  background-color: var(--dark-grey);
  color: var(--white);
  display: flex;
  align-items: stretch;
  position: absolute;
  width: 100%;
  bottom: 0;
}
.dashboard-nav ul {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}
.dashboard-nav li.active .icon-inactive,
.dashboard-nav li .icon-active {
  display: none;
}
.dashboard-nav li.active .icon-active,
.dashboard-nav li .icon-inactive {
  display: block;
}
.dashboard-nav a {
  color: inherit;
  text-decoration: none;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 10px 0;
  font-size: 20px;
}
