@import url("https://fonts.googleapis.com/css2?family=Readex+Pro:wght@200;300;400;500;600;700&display=swap");

* {
  box-sizing: border-box;
  font-family: "Readex Pro", sans-serif;
}

body {
  margin: 0;
  background-color: #37393b;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.app {
  min-width: 320px;
  max-width: 480px;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.primary-title {
  font-size: 50px;
  color: #fff;
}
.primary-button {
  color: #fff;
  text-transform: uppercase;
  font-size: 15px;
  background: linear-gradient(45deg, #fe3072, #ff5940);
  padding: 12px 30px;
  border-radius: 30px;
  border: none;
  cursor: pointer;
  margin-top: 50px;
}
.primary-button:hover {
  background: linear-gradient(45deg, #ff5940, #fe3072);
}
.secondary-button {
  color: rgb(121, 119, 119);
  background-color: #fff;
  font-weight: 500;
  font-size: 15px;
  text-transform: uppercase;
  padding: 12px 30px;
  border-radius: 30px;
  border: solid 2px rgb(121, 119, 119);
  margin: 6px;
  cursor: pointer;
}
.secondary-button:hover {
  color: rgb(90, 89, 89);
  background-color: rgb(240, 240, 240);
  border: solid 2px rgb(90, 89, 89);
}

/* Header Nav */
.header-nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.header-nav .nav-button {
  color: #fe3072;
  background-color: #fff;
  font-size: 20px;
  padding: 10px 20px;
  border-radius: 10px;
  border: none;
  margin: 10px;
}
.header-nav .nav-button:disabled {
  background-color: rgb(230, 228, 228);
  color: #c02a59;
}
.header-nav .logo-container {
  width: 170px;
  margin: 15px;
}
.header-nav .logo-container .logo {
  width: 100%;
}

/* ----- Home page ----- */
.overlay {
  height: calc(100vh - 43px);
  background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.65) 0%,
      rgba(0, 0, 0, 0) 100%
    ),
    url("../images/home-background.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.home {
  margin-top: 30vh;
  text-align: center;
}

/* Page Header */
.page-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: white;
  align-items: center;
  font-size: 25px;
  font-weight: 500;
  padding: 0.5rem 1rem;
  border-bottom: 1px solid white;
}
.page-header p {
  margin: 0;
}
.page-header .name-age {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

/* Navbar */
.nav {
  background-image: linear-gradient(
    60deg,
    rgba(112, 34, 103, 1) 0%,
    rgba(230, 34, 93, 1) 100%
  );
  color: #457fc3;
  font-size: 25px;
  margin-top: auto;
}
.nav ul {
  padding: 5px;
  margin: 0;
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  gap: 1rem;
}
.nav a {
  color: inherit;
  text-decoration: none;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0.25rem;
}
.nav li.active {
  color: black;
}

/* Profile Page */
.profile-img {
  min-width: 320px;
  max-width: 480px;
}
.profile-img img {
  max-width: 100%;
  max-height: 100%;
  display: block;
}
.profile-info p {
  margin: 0;
  color: white;
  font-weight: 500;
}
.profile-info .name-age {
  display: flex;
  flex-direction: row;
  font-size: 25px;
  gap: 10px;
  padding-bottom: 15px;
  width: fit-content;
}
.profile-info .profile-description {
  width: 320px;
}

@import url(https://fonts.googleapis.com/css?family=Mr+Dafoe);
@import url(https://fonts.googleapis.com/css?family=Titillium+Web:900);
@import url(https://fonts.googleapis.com/css?family=Righteous);
@import url(https://fonts.googleapis.com/css?family=Candal);

@import url(https://fonts.googleapis.com/css?family=Permanent+Marker);

@import url(https://fonts.googleapis.com/css?family=Monoton);

.victory {
  font-family: 'Permanent Marker', cursive;
  font-variant:small-caps;
  font-size: 50px;
  -webkit-transform: skew(-15deg,-15deg);
  background-image: -webkit-linear-gradient(#FF0FF8 0%,  #F9F9F7 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 0 auto;
  -webkit-filter: drop-shadow(2px 2px 20px #f008b7);
  width: fit-content;
  text-align: center;
}