* {
  box-sizing: border-box;
}
body {
  margin: 0;
}

.app {
  min-width: 320px;
  max-width: 480px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  /* justify-content:; */
}

.nav {
  background-color: #333;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  gap: 2rem;
  padding: 0 1rem;
  height: 50px;
  /* position: absolute;
  bottom: 0;
  left: 0;
  min-width: 320px;
max-width: 480px; */
}

.site-title {
  font-size: 2rem;
}

.container {
  /* margin: 1rem; */
  text-align: center;
}

.nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  gap: 1rem;
}
.nav a {
  color: inherit;
  text-decoration: none;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0.25rem;
}
.nav li.active {
  background-color: #555;
}
.nav li:hover {
  background-color: #777;
}

.profile-img {
  min-width: 320px;
  max-width: 480px;
}

.profile-img img {
  max-width: 100%;
  max-height: 100%;
  display: block;
}
